
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

venv/
.venv/
env/
ENV/

/media/
/static/
/staticfiles/
/templates/*~
db.sqlite3

*.log
*.pot
*.pyc
.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

.env
